# Node dependencies
node_modules/

# Environment variables
.env

# Google Cloud Key
key.json

# Log files (si generas alguno)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivo de configuración de PM2 (si lo creas localmente)
ecosystem.config.js